.skill {
  padding: 155px 0;
  background-image: url("../img/skill-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 432px) 295px;

}

.skill__heading {
  text-transform: uppercase;
  position: relative;
  font-size: 68px;
  letter-spacing: 8px;
  color: #ff0000;
  font-weight: 800;
  font-family: "Core Sans E";
  text-align: center;
  margin-bottom: 100px;
  &::before {
    width: 150%;
    display: inline-block;
    content: "ты приобретёшь";
    font-size: 180px;
    line-height: 20px;
    color: #32383f;
    font-family: "Besom";
    text-align: center;
    opacity: 0.1;
    position: absolute;
    top: 60px;
    left: -290px;
  }
}

.skill__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.skill__item {
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  font-family: "Core Sans E";
  text-align: left;

  &:nth-child(1) {
    max-width: 126px;
    width: 100%;
    margin-bottom: 75px;
    margin-left: 645px;
  }

  &:nth-child(2) {
    max-width: 206px;
    width: 100%;
    margin-bottom: 70px;
    margin-left: 750px;
  }

  &:nth-child(3) {
    max-width: 173px;
    width: 100%;
    margin-bottom: 105px;
    margin-left: 825px;
  }

  &:nth-child(4) {
    max-width: 220px;
    width: 100%;
    margin-bottom: 90px;
    margin-left: 880px;
  }

  &:nth-child(5) {
    max-width: 220px;
    width: 100%;
    margin-bottom: 108px;
    margin-left: 900px;
  }
}

.skill__item-text {
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  font-family: "Core Sans E";
  text-align: left;
}

@include retina-bg {
  .skill {
    background-image: url("../img/skill-bg@2x.png");
  }
}